[BASIC]
function-rgx=(([a-z_]+)|(([A-Z][a-z]*)+))
method-rgx=(([a-z_)+)|(test([A-Z][a-z0-9]*)+)

[FORMAT]
indent-after-paren=4
indent-string='  '
max-line-length=100

[STRING]
check-quote-consistency=yes

[VARIABLES]
ignored-argument-names=^char$|^_.*|^unused_

[MISCELLANEOUS]
notes=FIXME,
      XXX

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-many-locals,
        too-many-instance-attributes,
        too-many-arguments,
        too-many-statements,
        too-many-branches,
        too-many-return-statements,
        too-many-lines,
        too-few-public-methods,
        too-many-public-methods,
        no-self-use,
        use-sequence-for-iteration,
        similarities,
        unused-wildcard-import,
        wildcard-import,
        wrong-import-position,

[REPORTS]
score=no
