body {
  margin: 0px;
  padding: 0px;
  background: #CCCCFF;
  overflow: hidden;
}
div {
  display: block;
  margin: 0px;
}
.noclick {
  pointer-events: none;
}
.clickable {
  pointer-events: auto;
}
.selectable {
  cursor: pointer;
}
.unallowed {
  cursor: not-allowed;
}
.hide {
  position: absolute;
  height: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: pre;
}
#ui {
  position: absolute;
  width: 100%; /* width and height will be overridden by js */
  height: 100%;
  top: 0;
  left: 0;
  margin: 0px;
  display: flex;
}
#errorText {
  position: absolute;
  top: 10px;
  left: 50%; /* don't...don't ask */
  margin-right: -50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 36px;
  color: red;
  background: white;
  z-index: 3; /* error should be shown over everything else */
}
#uijoin {
  position: absolute;
  display: flex;
  width: 30%;
  left: 50%;
  margin-right: -50%;
  top: 50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  z-index: 2; /* show over other elements */
  border-right: 1px solid black;
  border-radius: 15px;
  background: khaki;
  border: 1px solid black;
  box-shadow: 2px 2px 10px;
}
#joinbuttons {
  display: flex;
}
#joinname {
  display: flex;
  color: black;
  font-weight: bold;
  font-size: 28px;
  font-family: sans-serif;
  flex-direction: row;
  justify-content: space-around;
}
#joinnameinput {
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;
  background-color: palegoldenrod;
}
#resourcepopup {
  position: absolute;
  display: none;
  left: 50%;
  margin-right: -50%;
  top: 50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  z-index: 1; /* show over other elements */
}
#resourceselect {
  flex: 0 0 auto;
  border-right: 1px solid black;
  border-radius: 15px;
  background: palegoldenrod;
  border: 1px solid black;
  box-shadow: 2px 2px 10px;
}
.uiselect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#playerpopup {
  position: absolute;
  display: none;
  background: palegoldenrod;
  border: 1px solid black;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 2px 2px 10px;
  left: 50%;
  margin-right: -50%;
  top: 50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  z-index: 1; /* show over other elements */
}
#tradesummary {
  flex: 0 1 100%;
}
.selectsummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  width: 100%;
  flex: 0 0 100%;
}
.summarypanel {
  flex: 0 1 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rejected {
  background: lightgray;
}
.acceptable:hover {
  background: palegreen;
}
.summaryleft {
  justify-content: flex-end;
}
.summaryright {
  justify-content: flex-start;
}
.summaryfixed {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
.summarycard {
  flex: 0 1 auto;
  overflow-x: hidden;
}
#selectbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
}
#topselect {
  border-bottom: 1px solid black;
}
.resourceselectbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.selectcontainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selector {
  width: 87;
  height: 123;
}
#uioverlay {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#uimain {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
#uileft {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#leftcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#uidice {
  position: relative;
  padding: 3px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid gray;
  display: block;
}
#uiright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 20%;
  padding: 0px;
  height: 100%;
}
#bottombutton {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#uibottom {
  flex: 0 0 210px;
  padding: 0px;
  width: 100%;
  height: 210px;
}
.die {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 12px;
}
.diecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-size: 36px;
}
#reddie {
  background: red;
  color: blanchedalmond;
}
#whitedie {
  background: blanchedalmond;
  color: red;
}
#buydev {
  margin-top: 25px;
}
.playerinfo {
  flex: "1 0 100%";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.playername {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.nameinput {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;
}
.turnmarker {
  display: block;
  left: 0;
  top: 0;
  padding-right: 10px;
  position: absolute;
  font-size: 24px;
  font-family: sans-serif;
  transform: translateX(-100%);
}
.phasemarker {
  display: block;
  right: 0;
  top: 0;
  padding-left: 10px;
  position: absolute;
  font-size: 24px;
  font-family: sans-serif;
  transform: translateX(100%);
}
.cardinfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.otherinfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.otheritem {
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}
.cardback {
  flex: 0 1 auto;
  overflow-x: hidden;
}
.cardseparator {
  flex: 0 0 auto;
}
.playerdata {
  display: flex;
  width: 100%;
}
.uicards {
  width: 100%;
  height: 210;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.uicard {
  flex: 0 1 auto;
  transform: translateY(30%);
}
.uicard.shown {
  flex: 0 0 auto;
}
.uicard.selected {
  transform: translateY(0%);
  z-index: 1;
}
.innercard {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
}
.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button.active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.bigbutton {
  padding: 15px 25px;
  margin: 10px;
  font-size: 32px;
  text-decoration: none;
  white-space: nowrap;
}
.endturnbutton {
  color: #fff;
  background-color: #f33;
}
.endturnbutton:hover {
  background-color: #c33;
}
.endturnbutton:active {
  background-color: #c33;
}
.endturnbutton.active { /* keep the buttons active when the window is open */
  background-color: #c33;
}
.endturnbutton.disabled {
  background-color: #f99;
}
.leftbutton {
  flex: 1 0 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.centerbutton {
  flex: 1 0 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rightbutton {
  flex: 1 0 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.tradebutton {
  color: #fff;
  background-color: #66f;
}
.tradebutton:hover {
  background-color: #33c;
}
.tradebutton:active {
  background-color: #33c;
}
.tradebutton.active { /* keep the buttons active when the window is open */
  background-color: #33c;
}
.tradebutton.disabled {
  background-color: #99f;
}
.selectbutton {
  padding: 15px 25px;
  font-size: 18px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #66f;
  box-shadow: 0 6px #999;
}
.selectbutton:active {
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
