body {
  margin: auto;
  padding: 0px;
  overflow: hidden;
  width: min(100vw, 160vh);
  height: min(62.5vw, 100vh);
  color: black;
}
div {
  display: block;
  margin: 0px;
}
#errorText {
  position: absolute;
  top: 10px;
  left: 50%; /* don't...don't ask */
  margin-right: -50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 36px;
  color: firebrick;
  background: lightgray;
  z-index: 40; /* error should be shown over everything else */
}
#uiload {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  z-index: 30;
  color: black;
  background: #406f18;
  font-size: 36px;
  text-align: center;
}
#loadbar {
  text-size: 28px;
  position: relative;
}
#loadingbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: olivedrab;
  z-index: -1;
}
#errorbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: crimson;
  z-index: -1;
}
#ui {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
#uiright {
  position: relative;
  width: 12%;
  max-width: 12%;
  background: darkgreen;
  height: min(62.5vw, 100vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: min(62.5vw, 100vh);
  z-index: 3;
}
#rightbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkgreen;
}
#players {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: min(54.5vw, 87.2vh);
  max-height: min(54.5vw, 87.2vh);
}
#toggles {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: min(8vw, 12.8vh);
  min-width: min(2.5vw, 4vh);
}
.toggle {
  font-size: min(1.25vw, 2vh);
  cursor: pointer;
  width: min(2.5vw, 4vh);
  height: min(2.5vw, 4vh);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle.shown {
  background-color: olivedrab;
}
#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  right: 0;
  width: min(8vw, 12.8vh);
  height: min(8vw, 12.8vh);
  background: darkgreen;
}
.smallbutton {
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: min(0.25vw, 0.4vh) solid black;
  box-shadow: min(0.25vw, 0.4vh) min(0.25vw, 0.4vh) black, min(0.25vw, 0.4vh) 0 black, 0 min(0.25vw, 0.4vh) black;
  font-size: min(1.5vw, 2.4vh);
  background: silver;
  display: inline-block;
  width: min(6vw, 9.6vh);
  margin-bottom: min(0.5vw, 0.8vh);
}
.smallbutton.burn {
  color: #c00;
}
.smallbutton:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  color: darkgreen;
  border-top: min(0.25vw, 0.4vh) solid currentcolor;
  border-right: min(0.25vw, 0.4vh) solid currentcolor;
  border-bottom: min(0.25vw, 0.4vh) solid transparent;
  border-left: min(0.25vw, 0.4vh) solid transparent;
  transform: translateX(min(0.5vw, 0.8vh)) translateY(max(-0.25vw, -0.4vh));
}
.smallbutton:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  color: darkgreen;
  border-bottom: min(0.25vw, 0.4vh) solid currentcolor;
  border-left: min(0.25vw, 0.4vh) solid currentcolor;
  border-top: min(0.25vw, 0.4vh) solid transparent;
  border-right: min(0.25vw, 0.4vh) solid transparent;
  transform: translateX(max(-0.25vw, -0.4vh)) translateY(min(0.5vw, 0.8vh));
}
.smallbutton:active, .smallbutton.pressed {
  transform: translateX(min(0.25vw, 0.4vh)) translateY(min(0.25vw, 0.4vh));
  box-shadow: none;
}
.btn2:before {
  color: #406f18;
}
.btn2:after {
  color: #406f18;
}
.smallbutton:active:after, .smallbutton.pressed:after {
  border: 0px solid transparent;
}
.smallbutton:active:before, .smallbutton.pressed:before {
  border: 0px solid transparent;
}
.smallbutton:disabled {
  pointer-events: none;
}
.smallbutton.burn:disabled {
  color: revert;
}
.smaller {
  width: min(4vw, 6.4vh);
}
#pending {
  width: min(8vw, 12.8vh);
  font-size: min(1.25vw, 2vh);
  font-family: Times, serif;
  text-align: center;
  color: black;
}
#pending.empty {
  color: darkgreen;
}
#phaseorder {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: min(1.25vw, 2vh);
  font-family: Times, serif;
  width: min(9.5vw, 15.2vh);
  height: min(8vw, 12.8vh);
}
.orderitem {
  width: 100%;
  text-align: center;
}
.orderitem.current {
  color: white;
  font-weight: bold;
}
#uimain {
  width: 88%;
  max-width: 88%;
  height: 100%;
  max-height: min(62.5vw, 100vh);
  background: darkgreen;
  display: flex;
  flex-direction: column;
  position: relative;
}
#centerizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  z-index: 2;
}
#uijoin {
  display: none;
  min-width: 50%;
  pointer-events: auto;
  flex-direction: column;
  background-color: #406f18;
  row-gap: min(1vw, 1.6vh);
  padding-top: min(1vw, 1.6vh);
  padding-bottom: min(1vw, 1.6vh);
}
#uijoin.shown {
  display: flex;
}
.selectcontain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
select {
  font-size: min(1.25vw, 2vh);
}
#joinname {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  font-weight: bold;
  font-size: min(3vw, 4.8vh);
  font-family: Arial, sans-serif;
}
#joinnameinput {
  color: black;
  font-weight: bold;
  font-size: min(2.5vw, 4vh);
  font-family: Arial, sans-serif;
  background-color: olivedrab;
  margin-right: min(0.2vw, 0.32vh);
  width: 20ch;
}
#joinbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#joincolor {
  flex: 0 0 auto;
  width: min(3vw, 4.8vh);
  height: min(3vw, 4.8vh);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: min(0.2vw, 0.32vh) min(0.2vw, 0.32vh) #333;
  transform: translate(-5%, -5%);
}
#joincolor.selected {
  transform: none;
  box-shadow: min(0.1vw, 0.16vh) min(0.1vw, 0.16vh) #333;
}
#colorlist {
  position: absolute;
  right: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  z-index: 1;
}
#joincolor.selected #colorlist {
  display: flex;
}
.coloritem {
  width: min(3vw, 4.8vh);
  height: min(3vw, 4.8vh);
  background-color: #406f18;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coloritem:hover {
  background-color: olivedrab;
}
.innercolor {
  width: 80%;
  height: 80%;
}
.joinbutton {
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: min(0.25vw, 0.4vh) solid black;
  box-shadow: min(0.25vw, 0.4vh) min(0.25vw, 0.4vh) black, min(0.25vw, 0.4vh) 0 black, 0 min(0.25vw, 0.4vh) black;
  font-size: min(2.5vw, 4vh);
  background: silver;
  display: inline-block;
  width: min(9vw, 14.4vh);
}
.joinbutton:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  color: #406f18;
  border-top: min(0.25vw, 0.4vh) solid currentcolor;
  border-right: min(0.25vw, 0.4vh) solid currentcolor;
  border-bottom: min(0.25vw, 0.4vh) solid transparent;
  border-left: min(0.25vw, 0.4vh) solid transparent;
  transform: translateX(min(0.5vw, 0.8vh)) translateY(max(-0.25vw, -0.4vh));
}
.joinbutton:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  color: #406f18;
  border-bottom: min(0.25vw, 0.4vh) solid currentcolor;
  border-left: min(0.25vw, 0.4vh) solid currentcolor;
  border-top: min(0.25vw, 0.4vh) solid transparent;
  border-right: min(0.25vw, 0.4vh) solid transparent;
  transform: translateX(max(-0.25vw, -0.4vh)) translateY(min(0.5vw, 0.8vh));
}
.joinbutton:active, .joinbutton.pressed {
  transform: translateX(min(0.25vw, 0.4vh)) translateY(min(0.25vw, 0.4vh));
  box-shadow: none;
}
.joinbutton:active:after, .joinbutton.pressed:after {
  border: 0px solid transparent;
}
.joinbutton:active:before, .joinbutton.pressed:before {
  border: 0px solid transparent;
}
.joinbutton:disabled {
  pointer-events: none;
}
.animating {
  transition: transform 0.4s;
}
#paysupply {
  position: absolute;
  top: min(2.5vw, 4vh);
  left: min(31.5vw, 50.4vh);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  visibility: hidden;
}
#paysupply.shown {
  pointer-events: auto;
  visibility: visible;
}
#payments {
  width: min(12.5vw, 20vh);
  height: min(12.5vw, 20vh);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: min(2vw, 3.2vh);
  background-color: olivedrab;
}
#resupply {
  width: min(12.5vw, 20vh);
  height: min(12.5vw, 20vh);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: min(2vw, 3.2vh);
  background-color: olivedrab;
}
.resupplycol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  height: 100%;
}
.resupplyrsrc {
  position: relative;
  width: min(2.5vw, 4vh);
  height: min(2.5vw, 4vh);
}
.resupplyheader {
  width: min(2.5vw, 4vh);
  height: min(2.5vw, 4vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.resupplycount {
  width: min(2.5vw, 4vh);
  height: min(2.5vw, 4vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#market {
  visibility: hidden;
  display: flex;
  pointer-events: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#market.shown {
  pointer-events: auto;
  visibility: visible;
}
#marketplants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: darkgreen;
}
.marketrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.marketplant {
  width: min(15vw, 24vh);
  height: min(15vw, 24vh);
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.marketplant.disabled {
  filter: grayscale(70%) brightness(70%);
}
.marketplant.auction {
  cursor: pointer;
  pointer-events: auto;
}
.marketplant.owned {
  pointer-events: auto;
}
.storage {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;
}
.stored {
  position: relative;
  width: min(2.5vw, 4vh);
  height: min(2.5vw, 4vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.stored.pending {
  opacity: 70%;
}
.owned .stored.exists:hover {
  cursor: pointer;
}
.storedcheck {
  display: none;
  font-size: min(1.5vw, 2.4vh);
  z-index: 6;
}
.stored.toburn .storedcheck {
  display: block;
}
#auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #406f18;
}
#auction.hidden {
  display: none;
}
#bidrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: min(1.75vw, 2.8vh);
  font-family: Arial, sans-serif;
}
#bid {
  font-size: min(1.25vw, 2vh);
  width: 6ch;
  height: 1.5em;
  background: olivedrab;
}
#bidders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: min(1vw, 1.6vh);
  width: 22ch;
}
.bidder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20ch;
  height: 1.5em;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: 0.5ch;
  padding-bottom: 0.5ch;
}
.biddername {
  width: 17ch;
  max-width: 17ch;
  text-overflow: clip;
  overflow: hidden;
}
#boardcnt {
  flex: 1 1 100%;
  width: 100%;
  height: min(72vw, 115.2vh);
  max-height: min(72vw, 115.2vh);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
#board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#boardcnv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(25%);
  transform-origin: center;
}
.cnv {
  position: absolute;
  top: 0;
  left: 0;
}
.city {
  position: absolute;
  height: calc(min(72vw, 115.2vh) / 28);
  width: calc(min(72vw, 115.2vh) / 28);
  cursor: pointer;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #999;
  opacity: 75%;
}
.city.chosen {
  background-color: transparent;
  opacity: 100%;
}
.city.hovered {
  background-color: transparent;
  opacity: 100%;
}
.conn {
  position: absolute;
  height: calc(min(48vw, 76.8vh) / 28);
  width: calc(min(48vw, 76.8vh) / 28);
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #999;
  opacity: 75%;
  border-radius: 50%;
}
.conn.chosen {
  background-color: transparent;
  opacity: 0;
}
.conn.hovered {
  background-color: transparent;
  opacity: 0;
}
#citycontainer {
  position: absolute;
  width: 51%;
  height: 100%;
  top: 0;
  left: 24.5%;
}
.first {
  top: 0;
  left: 30%;
}
.second {
  bottom: 10%;
  left: 0;
}
.third {
  bottom: 10%;
  right: 0;
}
.house {
  position: absolute;
  width: 40%;
  height: 40%;
}
.housecnt {
  width: 100%;
  height: 150%;
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0% 33%, 0% 100%, 100% 100%, 100% 33%, 50% 0%);
  background-color: inherit;
}
#supply {
  width: min(80vw, 128vh);
  min-height: min(8vw, 12.8vh);
  height: min(8vw, 12.8vh);
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#supplycnt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rsrcbox {
  width: 9.6%;
  height: 87.5%;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coalrow {
  height: 35%;
}
.coalbox {
  width: 32%;
}
.oilrow {
  height: 30%;
}
.oilbox {
  width: 24%;
}
.utailbox {
  width: 24%;
}
.gasrow {
  height: 35%;
}
.gasbox {
  width: 32%;
}
.ucnt {
  width: 7.7%;
  height: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.urow {
  width: 100%;
  height: 41%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.usmallbox {
  width: 41%;
  height: 100%;
}
.spacer {
  width: 1%;
}
.resource {
  width: 90%;
  height: 90%;
  position: relative;
  display: block;
  pointer-events: auto;
}
.usmallbox .resource {
  width: 70%;
  height: 70%;
}
.resource.hidden {
  visibility: hidden;
  pointer-events: none;
}
.resource.pending {
  visibility: visible;
  opacity: 50%;
}
.player {
  height: min(9vw, 14.4vh);
  max-height: min(9vw, 14.4vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.namebg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.namecont {
  position: relative;
}
.playername {
  color: white;
  font-size: min(1.5vw, 2.4vh);
}
.arrow {
  position: absolute;
  top: 0;
  transform-origin: center;
  font-size: min(1.5vw, 2.4vh);
  filter: grayscale(100%) brightness(200);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow.hidden {
  visibility: hidden;
}
.arrowleft {
  left: 0;
}
.arrowleft .arrowtext {
  transform: translateX(-120%) rotate(90deg);
}
.arrowright {
  right: 0;
}
.arrowright .arrowtext {
  transform: translateX(120%) rotate(-90deg);
}
.arrow.winner {
  filter: none;
  visibility: visible;
}
.arrowleft.winner .arrowtext {
  transform: translateX(-120%);
}
.arrowright.winner .arrowtext {
  transform: translateX(120%);
}
.playerinfo {
  width: 100%;
  color: white;
  font-size: min(1.25vw, 2vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.playerplant {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: min(1.25vw, 2vh);
  text-align: center;
}
.plantnum {
  width: 30%;
}
.plantoutput {
  width: 20%;
}
.plantstorage {
  width: 40%;
}
.plantexpand {
  position: absolute;
  padding: min(2.5vw, 4vh);
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  background: olivedrab;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -2;
  transition: transform 0.3s;
}
.plantexpand.upper {
  top: 0;
  transform: translate(0%, 0%);
}
.plantexpand.lower {
  top: auto;
  bottom: 0;
  transform: translate(0%, 0%);
}
.plantexpand.shown {
  transform: translate(-100%, -50%);
  z-index: -1;
}
.plantexpand.shown.upper {
  transform: translate(-100%, 0%);
}
.plantexpand.shown.lower {
  transform: translate(-100%, 0%);
}
.forcehide {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: darkkhaki;
  font-size: min(1.25vw, 2vh);
  cursor: pointer;
}
.defaultshow .forcehide {
  display: flex;
}
.plantcnt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: min(1vw, 1.6vh);
}
/*
.plantburn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
*/
.plantburn {
  display: block;
  width: 90%;
  height: min(3vw, 4.8vh);
  position: relative;
  border-radius: min(1.5vw, 2.4vh);
  overflow: hidden;
}
.discard .plantburn {
  display: none;
}
.burncheck {
  display: none;
}
.burnslider {
  background-color: #ccc;
  position: absolute;
  border-radius: min(1.5vw, 2.4vh);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transition: all 0.8s ease-in; */
  font-size: min(3vw, 4.8vh);
  cursor: pointer;
}
.burnknob {
  position: absolute;
  transition: left 0.5s ease-in;
  left: min(0.25vw, 0.4vh);
  top: min(0.25vw, 0.4vh);
  width: min(2.5vw, 4vh);
  height: min(2.5vw, 4vh);
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
  /* border: 1px solid #000; */
}
/*
.burnslider:after {
  content: "OFF";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  color: #666;
}
*/
.burnknob:after {
  content: "OFF";
  position: absolute;
  left: min(7.5vw, 12vh);
  color: #666;
  transform: translate(-50%, max(-0.4vw, -0.64vh));
}
.burnknob:before {
  content: "BURN";
  position: absolute;
  right: min(7.5vw, 12vh);
  color: #c00;
  transform: translate(50%, max(-0.4vw, -0.64vh));
}
.burncheck:checked+.burnslider .burnknob {
  left: calc(100% - min(3vw, 4.8vh));
}
.burncheck:disabled+.burnslider {
  cursor: auto;
}
/*
.burncheck:checked+.burnslider:after {
  content: "BURN";
  color: #c00;
}
*/
/*
.burntext {
  text-decoration: line-through;
  font-size: min(3vw, 4.8vh);
}
.burncheck {
  width: min(2vw, 3.2vh);
  height: min(2vw, 3.2vh);
  order: 1;
}
.burncheck:checked + span {
  text-decoration: none;
}
.burncheck:disabled + span {
  color: darkgrey;
}
*/
.plantdiscard {
  cursor: pointer;
  background: #C36565;
  width: min(12vw, 19.6vh);
  display: none;
}
.plantdiscard:before {
  color: olivedrab;
}
.plantdiscard:after {
  color: olivedrab;
}
.discard .plantdiscard {
  display: inline-block;
}
#confirmdiscard {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0%, 100%) translateY(min(1.5vw, 2.4vh));
  width: min(15vw, 24vh);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: olivedrab;
}
#confirmdiscard.shown {
  display: flex;
}
#confirmdiscard span {
  text-align: center;
  width: 80%;
  font-size: min(1.25vw, 2vh);
  font-family: Times, serif;
}
#discardbtn:after {
  color: olivedrab;
}
#discardbtn:before {
  color: olivedrab;
}
#discardbtn {
  color: #c00;
}
